# apps/dashboard/backend/.env.dev
LOGS_DIR=../../../../logs
ALLOWED_ORIGINS=http://localhost:5173

# apps/dashboard/backend/.env.prod
LOGS_DIR=/var/logs/security_app
ALLOWED_ORIGINS=https://dashboard.example.com
